{erl_opts, [debug_info]}.
{deps, [
    {uuid, {git, "https://github.com/okeuday/uuid", {tag, "v1.8.0"}}},
    {lwm2m_coap, {git, "https://github.com/emqx/lwm2m-coap", {tag, "v1.0.2"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.10.0"}}},
    {getopt, "1.0.1"},
    {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "v1.2.0"}}},
    {getopt, {git, "https://github.com/jcomellas/getopt.git", {tag, "v1.0.1"}}}
]}.

{relx, [{release, {emqx_bench, "0.1.0"},
    [emqx_bench,
        syntax_tools,
        {observer, load},
        runtime_tools,
        sasl]},
    {overlay,
        [{mkdir, "log/"},
            {mkdir, "bin/"},
            {mkdir, "data/"},
            {copy, "data/mqttclient_info.csv", "data/mqttclient_info.csv"},
            {copy, "data/workflow_mqtt_1.json", "data/workflow_mqtt_1.json"},
            {copy, "data/lw_info.csv", "data/lw_info.csv"},
            {copy, "data/lw_info2.csv", "data/lw_info2.csv"},
            {copy, "data/workflow_lwm2m_1.json", "data/workflow_lwm2m_1.json"},
            {copy, "bin/emqx_bench", "bin/emqx_bench"},
            {copy, "bin/nodetool", "bin/nodetool"},
            {template, "bin/emqx_bench", "bin/emqx_bench"}
        ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, false},
    {include_erts, true},

    {extended_start_script, true}]
}.
