[
  {emqx_bench, []},
  {kernel,
    [
     {error_logger,silent},
     {logger_sasl_compatible,true},
     {logger_level, all},
     {logger,
        [
         %% console log
         {handler, default, logger_std_h,
           #{level => all,
             config => #{type => standard_io},
             formatter =>
                 {logger_formatter, #{legacy_header => false,
                                      single_line => true,
                                      template => [time," [",level,"] ",pid,msg,"\n"] }}
             }},

         %% disable console log
         {handler, default, undefined},

         %% file log
         {handler, file, logger_disk_log_h,
            #{level => all,
              config => #{file => "./log/emqx_bench.log",
                          type => wrap,
                          max_no_files => 10,
                          max_no_bytes => 10000000},
              formatter =>
                  {logger_formatter, #{legacy_header => false,
                                       single_line => true,
                                       template => [time," [",pid,"] "," [",level,"] ",msg,"\n"] }},
              filesync_repeat_interval => 1000}}
        ]}]},
  {sasl,[{sasl_error_logger,false}]}

].
